@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

li {
     list-style: none;
}

img {
     width: 100%;
}

body {
     font-family: 'Baloo 2', cursive;
}

header {
     height: 15vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 30px 0;

     .logo {
          width: 225px;
     }
}

.container {
     display: flex;
     flex-direction: column;
     height: 77vh;
     padding: 0 50px;

     .form-cont {
          display: flex;
          align-items: center;
          // align-items: flex-start;
          justify-content: center;
          height: 100%;
          // height: 30vh;

          form {
               margin-bottom: 100px;
               width: 450px;

               h2 {

                    span {
                         display: inline-block;
                         font-size: 2rem;

                         &.dot3 {
                              --animate-repeat: 1000
                         }
                         &.dot2 {
                              --animate-repeat: 1000
                         }
                         &.dot1 {
                              --animate-repeat: 1000
                         }
                    }
               }

               .search-cont {
                    border: 1px solid #c6c6c6;
                    border-radius: 5px;
                    height: 50px;

                    input {
                         width: 100%;
                         height: 100%;
                         border: 0;
                         border-radius: 4px;
                         text-align: center;
                         padding: 0 5px;
                         font-size: 1rem;
                         outline: none;
                         letter-spacing: 1px;
                    }
               }
          }
     }

     div.site-data-cont {
          background-image: url("./images/placeholder-img.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          text-align: center;

          .site-card {
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               justify-items: center;

               &:not(:last-child) {
                    margin-bottom: 50px;
               }

               .card-header {
                    grid-column: 1/4;
                    display: flex;
                    background-color: #aeaeae;
                    border-radius: 20px;
                    color: #fff;
                    align-items: center;
                    justify-content: space-around;
                    padding: 15px 0;
                    margin-bottom: 30px;
                    width: 100%;
                    letter-spacing: 3px;

                    .site-name {
                         grid-column: 1/4;
                    }
               }

               ul {
                    li {
                         font-size: 1.5rem;
                         text-align: left;
                         letter-spacing: 2px;
                         color: #828282;
     
                         &:not(:first-child) {
                              margin-top: 15px;
                         }
     
                         span.dollar-sign {
                              display: inline-block;
                              padding: 10px 20px;
                              border-radius: 100px;
                              margin-right: 10px;
                              border: 1px solid #dcdcdc;
                              color: #70cb00;
                              text-align: center;
                         }

                         span.view-count {
                              display: inline-block;
                              padding: 10px 15px;
                              border-radius: 100px;
                              margin-right: 10px;
                              border: 1px solid #dcdcdc;
                              color: #ff3c3c;
                              text-align: center;
                         }

                         span.visit-count {
                              display: inline-block;
                              padding: 10px 15px;
                              border-radius: 100px;
                              margin-right: 10px;
                              border: 1px solid #dcdcdc;
                              color: #0053d0;
                              text-align: center;
                         }
                    }
               }
               .save-btn {
                    display: inline-block;
                    grid-column: 3/4;
                    width: 100%;
                    margin-top: 30px;
                    padding: 15px 0;
                    border: none;
                    border-radius: 5px;
                    background-color: #333;
                    color: #fff;
                    font-size: 1.2rem;
                    cursor: pointer;
                    outline: none;

                    &:hover {
                         background-color: #6d6d6d;
                         transition: background-color .2s linear;
                    }
               }
          }

     }
}

footer {
     height: 8vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 50px;
     letter-spacing: 1px;
     color: #808080;
}