@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: 'Baloo 2', cursive;
}

header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  margin: 0 auto;
}

header .logo {
  width: 225px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 77vh;
  padding: 0 50px;
}

.container .form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.container .form-cont form {
  margin-bottom: 100px;
  width: 450px;
}

.container .form-cont form h2 span {
  display: inline-block;
  font-size: 2rem;
}

.container .form-cont form h2 span.dot3 {
  --animate-repeat: 1000
                         ;
}

.container .form-cont form h2 span.dot2 {
  --animate-repeat: 1000
                         ;
}

.container .form-cont form h2 span.dot1 {
  --animate-repeat: 1000
                         ;
}

.container .form-cont form .search-cont {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  height: 50px;
}

.container .form-cont form .search-cont input {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 4px;
  text-align: center;
  padding: 0 5px;
  font-size: 1rem;
  outline: none;
  letter-spacing: 1px;
}

.container div.site-data-cont {
  background-image: url("./images/placeholder-img.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

.container div.site-data-cont .site-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.container div.site-data-cont .site-card:not(:last-child) {
  margin-bottom: 50px;
}

.container div.site-data-cont .site-card .card-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aeaeae;
  border-radius: 20px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  margin-bottom: 30px;
  width: 100%;
  letter-spacing: 3px;
}

.container div.site-data-cont .site-card .card-header .site-name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.container div.site-data-cont .site-card ul li {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 2px;
  color: #828282;
}

.container div.site-data-cont .site-card ul li:not(:first-child) {
  margin-top: 15px;
}

.container div.site-data-cont .site-card ul li span.dollar-sign {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  color: #70cb00;
  text-align: center;
}

.container div.site-data-cont .site-card ul li span.view-count {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  color: #ff3c3c;
  text-align: center;
}

.container div.site-data-cont .site-card ul li span.visit-count {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  color: #0053d0;
  text-align: center;
}

.container div.site-data-cont .site-card .save-btn {
  display: inline-block;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  width: 100%;
  margin-top: 30px;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

.container div.site-data-cont .site-card .save-btn:hover {
  background-color: #6d6d6d;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

footer {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  letter-spacing: 1px;
  color: #808080;
}
/*# sourceMappingURL=index.css.map */